[data-theme='1'] {
    --color: #000000;
    --background: #FFFFFF;
}

[data-theme='2'] {
    --color: #000000;
    --background: #DDEEFF;
}

[data-theme='3'] {
    --color: #FFFFFF;
    --background: #212A34;
}
[data-theme='4'] {
    --color: #000000;
    --background-image: url('../../s2-homeworks/hw12/img/catPaw_bckg.jpg');
}


html {
    background-color: var(--background);
    color: var(--color);
    background-image: var(--background-image);
}

.select {

}
