[data-theme='1'] {
    --color: #000000;
    --background: #FFFFFF;
}

[data-theme='2'] {
    --color: #000000;
    --background: #DDEEFF;
}

[data-theme='3'] {
    --color: #FFFFFF;
    --background: #212A34;
}
[data-theme='4'] {
    --color: #000000;
    --background-image: url('../../s2-homeworks/hw12/img/catPaw_bckg.jpg');
}


html {
    background-color: var(--background);
    color: var(--color);
    background-image: var(--background-image);
}

.select {
    margin-left: 45px;
    background-color: var(--background);
    color: var(--color);
    font-size: 20px;
    line-height: 24px;
    width: 171px;
    height: 36px;
}
.select:focus-visible{
    margin-left: 45px;
    background-color: var(--background);
    color: var(--color);

}

.textForSelect{
    color: var(--color);
    font-size: 18px;
    line-height: 22px;
    margin: 5px 0 10px 45px;
}