.stand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    padding-right: 60px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 38px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 36px;
}
