.buttonsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: auto;
    max-width: 300px;
    margin: 13px 40px;


}

.editableSpanContainer {
    margin: 13px 40px;
    width: auto;
}