.item {
    /*display: flex;
    flex-wrap: wrap;
    justify-content: space-between;*/
    height: 50px;
    margin: 5px 0;
    bottom:4px;
    border-bottom: 1px solid darkgrey;
}

.item:last-of-type {

}

.buttonsContainer {
    margin: 15px  1px  10px 17%;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}

.container {
}

.users {
    margin: 15px  1px  10px 4%;
    width: 650px;
    border-spacing: 0px;
    border-collapse: collapse;
}

.thead {
    background-color: lightgrey;
    height: 36px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
   /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between;*/
    align-items: center;
    width: 600px;
    border-radius: 5px;
    }

.nameCol {
    width: 250px;

}

.ageCol {
font-weight: 700;
    width: 250px;

}

