.App {
    --header_height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hw {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.hw2Container {
    margin: 350px 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.hwTitle {
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 60px;
}

.messagesContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}