.friendMessage {
background-color: olive;
    float: left;
}

.friendImageAndText {

}

.friendImageAndText img {
    width: 48px;
    height: 48px;
    left: 1162px;
    border-radius: 50%;
    order: 2
}

.friendText {

}

.friendText:after {

}

.friendName {

}

.friendMessageText {

}

.friendTime {

}
