.burgerMenuIcon {
    position: absolute;
    margin-left: 70px;
    top: 30%;
}

.header {
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    overflow-x: hidden;
    background-color: #FFFFFF;

}

.header h1 {
    font-size: 25px;
    margin: 10px 70px;
    text-align: right;
}