.button {
}

.disabled {
}

.secondary {
    background-color: cadetblue;
}

.default {
    background-color: #0059b3;
}

.red {
    background-color: red;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
